# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# CLIENT
========
# dependencies
/packages/client/node_modules
/packages/client/.pnp
/packages/client/.pnp.js

# testing
/packages/client/coverage

# next.js
/packages/client/.next/
/packages/client/out/

# production
/packages/client/build

# misc
/packages/client/.DS_Store
/packages/client/*.pem

# debug
/packages/client/npm-debug.log*
/packages/client/yarn-debug.log*
/packages/client/yarn-error.log*

# local env files
/packages/client/.env.local
/packages/client/.env.development.local
/packages/client/.env.test.local
/packages/client/.env.production.local

# vercel
/packages/client/.vercel

# Linaria
/packages/client/.linaria-cache/

# SERVER
# ======
packages/server/dist

# WORKSPACES
# ==========
node_modules

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# secrets
packages/server/.env
packages/server/src/secret.development-variables.json

# Hide dev database files
packages/server/dev/redis
packages/server/dev/db
packages/server/configure-Dokku-postgres.sh
packages/server/configure-Dokku-redis.sh
packages/server/push-to-dockerhub.sh
deploy-client-to-DO.sh
deploy-server-to-DO.sh
packages/client/.env
deploy-to-server-DO.sh
packages/client/report.20210621.180250.82452.0.001.json
packages/client/report.20210621.180505.85908.0.001.json
packages/client/secret/policy.s3.aws
packages/client/secret/private_key.pem
packages/client/secret/public_key.pem
ormconfig.json
